<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studentlar</title>
</head>
<body>
    <h1>Studentlar</h1>
    <br>
    <form>
        <input type="text" name="qidirish" placeholder="Student ismi">
        <button>Qidirish</button>
    </form>
    <br>
    {%for i in studentlar%}
    <h1>{{i}}</h1>
    <button><a href="/Student/{{i.id}}/" Ochirish</button>
    {%endfor%}
    <br>
    <br>
    <form method="post" action="/students-t/">{% csrf_token %}
        <input type="text" name="ismi" placeholder="Student ismi">
        <input type="number" name="y" placeholder="Student yoshi">
        <input type="number" name="n_k" placeholder="Nechinchi kurs">
        <input type="number" name="s_t" placeholder="Student raqami">
        <button type="submit">Qo'shish</button>
    </form>
    <br>
    <br>
</body>
</html>